---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/rawfunkmaharishi/rawfunkmaharishi.github.io/contents/gigs/_posts?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1453395297'
      Last-Modified:
      - Sat, 07 Nov 2015 21:59:44 GMT
      Etag:
      - '"0ee0e12645e595438fca72c4f60d30b6"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"name":"2013-12-05-269-bar.yml","path":"gigs/_posts/2013-12-05-269-bar.yml","sha":"51ff3600938c7140c7c1bf4f1f6ae60f57a5e784","size":112,"url":"https://api.github.com/repos/rawfunkmaharishi/rawfunkmaharishi.github.io/contents/gigs/_posts/2013-12-05-269-bar.yml?ref=master","html_url":"https://github.com/rawfunkmaharishi/rawfunkmaharishi.github.io/blob/master/gigs/_posts/2013-12-05-269-bar.yml","git_url":"https://api.github.com/repos/rawfunkmaharishi/rawfunkmaharishi.github.io/git/blobs/51ff3600938c7140c7c1bf4f1f6ae60f57a5e784","download_url":"https://raw.githubusercontent.com/rawfunkmaharishi/rawfunkmaharishi.github.io/master/gigs/_posts/2013-12-05-269-bar.yml","type":"file","_links":{"self":"https://api.github.com/repos/rawfunkmaharishi/rawfunkmaharishi.github.io/contents/gigs/_posts/2013-12-05-269-bar.yml?ref=master","git":"https://api.github.com/repos/rawfunkmaharishi/rawfunkmaharishi.github.io/git/blobs/51ff3600938c7140c7c1bf4f1f6ae60f57a5e784","html":"https://github.com/rawfunkmaharishi/rawfunkmaharishi.github.io/blob/master/gigs/_posts/2013-12-05-269-bar.yml"}},{"name":"2014-05-16-new-cross-inn.yml","path":"gigs/_posts/2014-05-16-new-cross-inn.yml","sha":"3f8c575f958cbc83e26696bd3f4b1792205d4f7d","size":140,"url":"https://api.github.com/repos/rawfunkmaharishi/rawfunkmaharishi.github.io/contents/gigs/_posts/2014-05-16-new-cross-inn.yml?ref=master","html_url":"https://github.com/rawfunkmaharishi/rawfunkmaharishi.github.io/blob/master/gigs/_po[...]
